body {
  color: #ff7777;
}
/*
.bgwrapper {
      padding-top: 115px;
      background: url('images/body-bg-2c.jpg') no-repeat center top;
          background-size: auto;
      -webkit-background-size: 1920px 1863px;
  }
*/
