<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Custom styles for this template -->
    <link th:href="@{css/login.css}" th:rel="stylesheet" />
</head>
<body>

<div th:if="${param.error}">
    Неверный логин, пароль.
</div>
<div th:if="${param.logout}">
    Вы вышли из панели управления.
</div>
<!--form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Войти"/></div>
</form-->
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" th:action="@{/login}" method="post">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" name="username" placeholder="Логин">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" name="password" placeholder="Пароль">
                </div>
                <button class="button login__submit">
                    <span class="button__text">Войти</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
            <!--div class="social-login">
                <h3>log in via</h3>
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div-->
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

<!--script type="text/javascript" th:src="@{js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/login.js}"></script-->
</body>
</html>